/* CSS för navbaren */
.navbar {
    background-color: #426e5f; /* Grön bakgrund */
    padding: 10px 20px; /* Padding för att ge navbaren utrymme */
}

/* Container för navbarens innehåll */
.navbar-container {
    display: flex;
    justify-content: space-between; /* Länkar till vänster, logout till höger */
    align-items: center;
    width: 100%;
}

/* Container för länkar och profilknappen */
.nav-links {
    display: flex;
    justify-content: space-between; /* Länkar och profilknapp på samma linje */
    align-items: center;
    gap: 30px; /* Avstånd mellan ikonerna */
}

/* Stil för individuella länkar */
.nav-link {
    text-decoration: none; /* Ta bort understrykning */
    color: #F5F5DC; /* Beige färg */
    font-size: 24px; /* Samma storlek på ikonerna */
    font-weight: bold;
    text-align: center;
    padding: 5px 10px;
    transition: color 0.3s; /* Övergång vid hover */
}

.nav-link:hover {
    color: #261a1a; /* Färgändring vid hover */
}

.nav-link:hover svg {
    transform: scale(1.1); /* Förstora lite vid hover */
}

/* Profilknappen */
.profile-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #f5f5dc; /* Färg som matchar länkarna */
    font-size: 24px; /* Samma storlek som för de andra ikonerna */
}

/* Hover-effekt för profilknappen */
.profile-button:hover {
    color: #261a1a; /* Ändrar färg på hover */
    transform: scale(1.1); /* Förstorar ikonen vid hover */
}

/* Container för logout-knappen */
.logout-container {
    display: flex;
    justify-content: flex-end; /* Placera logout-knappen till höger */
    align-items: center;
}
