/* Container styling */
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f3f3e8;
}

/* Navbar styling */
.navbar {
    background-color: #426e5f;
    color: #f5f5dc;
    padding: 10px 20px;
    display: flex;
    justify-content: row;
    gap: 30px;
}

/* Navigation button styling */
.navButton {
    background-color: transparent;
    color: #f5f5dc;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin: 0 10px;
    transition: color 0.3s;
}

.navButton:hover {
    color: #261a1a;
    background: none;
}

/* Main content styling */
.mainContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #426e5f;
}

/* Card styling */
.card {
    background-color: #f8f4f4;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 30px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

/* Title styling */
.title {
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: bold;
}

/* Subtitle styling */
.subtitle {
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: normal;
    color: #5d4747;
}

/* Toggle button styling */
.toggleButton {
    background-color: #426e5f;
    color: #f5f5dc;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

/* Submit button styling */
.submitButton {
    background-color: #426e5f;
    color: #f5f5dc;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}
