.modal {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.icon-button-profile {
    font-size: 20px;
    color: #333;
    gap: 8px;
    position: absolute;
    top: 6px; /* Placera i det övre högra hörnet */
    left: 190px;
    background: none;
    outline: none;
}

.close-button {
    color: #261a1a;
    outline: none;
    border: none;
}

.icon-button-profile:hover {
    background: none;
    color: #274f42;
}


/* Felmeddelande och framgångsmeddelande */
.error-message {
    color: #491818;
    font-weight: bold;
}

.success-message {
    color: #618678;
    font-weight: bold;
}

/* Huvudknappar */
button {
    background-color: transparent;
    border: 2px solid #261a1a;
    color: #261a1a;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin: 10px 0;
}

button:hover {
    background-color: #447c67;
    color: white;
}

.delete-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #491818;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.delete-button:hover {
    background-color: #261a1a;
}

/* Understruken knapp för lösenorduppdatering */
button[type="submit"] {
    background-color: transparent;
    border: 2px solid #274f42;
    color: #0a0a0a;
}

button[type="submit"]:hover {
    background-color: #426e5f;
    color: white;
}

/* Styling för inmatningsfält */
input[type="password"] {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="password"]:focus {
    border-color: #274f42;
    outline: none;
}

/* Specific styling för knappar under lösenordsändring */
button {
    width: 100%;
}

/* Modals huvudtext */
h2, h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

/* Specifik styling för när man ändrar lösenord */
input[type="password"]::placeholder {
    color: #aaa;
}


