.modal {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.link-button {
    background: none;
    border: none;
    color: #007BFF;
    cursor: pointer;
    text-decoration: underline;
    margin: 10px 0;
}

.link-button:hover {
    color: #0056b3;
}

.delete {
    color: red;
}

.delete:hover {
    color: darkred;
}
