html, body {
    height: 100%;
    margin: 0;
}
/* För ProfilePage-komponenten */
.profile-page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* För innehållet på sidan */
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px; /* Lägg till lite padding om det behövs */
}

/* Gör CalendarContainer till fullbredd */
.main-content .calendar-container {
    width: 100%; /* Täcker hela bredden av sidan */
    max-width: 1200px; /* Optional: Begränsa maxbredden */
}