/* Grundläggande styling för startsidan */
.start-page {
    display: flex; /* Använd flexbox för att dela upp sidan i två paneler */
    min-height: 100vh;
    background-color: #426e5f;
}

/* Vänster panel */
.left-panel {
    width: 30%; /* Vänster panel tar upp 40% av skärmen */
    padding: 10px;
    background-color: #426e5f;
    color: #261a1a;
    display: flex;
    flex-direction: column; /* Ordna innehållet vertikalt */
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    margin-left: -10px;
}
/* Klocka, dag, datum och vecka */
.time-date-week {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.clock {
    font-size: 55px; /* Stora siffror för klockan */
    font-weight: bold;
    color: #261a1a;
    margin-bottom: 20px;
}

.date-info {
    font-size: 23px;
    color: #261a1a;
    margin-bottom: 10px;
}

.week-number {
    font-size: 25px;
    color: #261a1a;
}
/* Höger panel */
.right-panel {
    width: 70%; /* Höger panel tar upp 60% av skärmen */
    padding: 40px;
    background-color: #426e5f;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

/* Day View */
.day-view {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 100%;
    max-width: 800px; /* Maximal bredd för DayView */
    padding-top: 50px;
}

/* Responsiv design - För skärmar under 1024px */
@media (max-width: 1024px) {

    .left-panel, .right-panel {
        width: 100%; /* Panelerna tar upp hela bredden på mindre skärmar */
    }
}
